<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.pro516.thrifttogether">

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--允许程序获取网络状态-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--允许程序访问WiFi网络信息-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--允许程序读写手机状态和身份-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--允许程序访问CellID或WiFi热点来获取粗略的位置-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".TtApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/we_app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:label">
        <activity android:name=".ui.mine.order.OrderDetailsActivity"/>
        <activity android:name=".ui.mine.notification.NotificationActivity"></activity>
        <activity android:name=".ui.mine.order.CommentLargeImageActivity" />
        <activity android:name=".ui.mine.order.OrderCommentActivity" />
        <activity android:name=".ui.home.activity.ReservationDetailsActivity" />
        <activity android:name=".ui.mine.reservation.MineReservationActivity" />
        <activity android:name=".ui.mall.MallExchangeActivity" />
        <activity android:name=".ui.mine.order.OrderDetailsActivity" />
        <activity android:name=".ui.mine.feedback.MineFeedBackActivity" />
        <activity android:name=".ui.mine.voucherPackage.VoucherPackageActivity" />
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="cffdc8e4ba6cb6218d508195bde5fdbc" />
        <activity android:name=".ui.mine.order.OrderActivity" />
        <activity android:name=".ui.mine.collection.MineCollectionActivity" />
        <activity android:name=".ui.mine.settings.EditPersonalInformationActivity" />
        <activity android:name=".ui.mine.settings.MineSetting" />
        <activity android:name=".ui.home.activity.hotel.HotelDatePickerActivity" />
        <activity android:name=".ui.home.activity.movie.ChooseMovieSeatTableActivity" />
        <activity
            android:name=".ui.home.activity.nav.HomeCityPickerActivity"
            android:theme="@style/DefaultCityPickerTheme" />
        <activity android:name=".ui.home.activity.nav.HomeSearchActivity" />
        <activity android:name=".ui.home.activity.HomeFoodActivity" />
        <activity android:name=".ui.home.activity.HomeLookingAroundActivity" />
        <activity android:name=".ui.home.activity.HomeTicketActivity" />
        <activity android:name=".ui.home.activity.HomeEntertainmentActivity" />
        <activity android:name=".ui.home.activity.HomeKtvActivity" />
        <activity android:name=".ui.home.activity.HomeBeautyActivity" />
        <activity android:name=".ui.home.activity.hotel.HomeHotelActivity" />
        <activity android:name=".ui.home.activity.movie.HomeMovieActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".ui.home.activity.StoreActivity" />
        <activity android:name=".ui.mine.recentlyViewed.RecentlyViewedActivity" />
        <activity android:name=".ui.login.RegisterActivity" />
        <activity android:name=".ui.login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>