<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.pro516.thrifttogether">

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".TtApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/we_app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:label">
        <activity android:name=".ui.home.activity.HomeFoodActivity"></activity>
        <activity android:name=".ui.home.activity.HomeTicketActivity" />
        <activity android:name=".ui.home.activity.HomeEntertainmentActivity" />
        <activity android:name=".ui.home.activity.HomeKtvActivity" />
        <activity android:name=".ui.home.activity.HomeBeautyActivity" />
        <activity android:name=".ui.home.activity.HomeHotelActivity" />
        <activity android:name=".ui.home.activity.HomeMovieActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.home.activity.HomeCityPickerActivity"
            android:theme="@style/DefaultCityPickerTheme" />
        <activity android:name=".ui.home.activity.HomeLookingAroundActivity" />
    </application>

</manifest>